/**
 * My Awesome accorion - >^<
 */

// Import normalize and other helpers
@import 'helpers';

// Main Styles for accordion
.accordion {

	// Headlines
	h2 {
		margin: 0;

		> a {
		}
	}
}


// Content
.accordion-content {
}

// If active
// .accordion-item:target {
// 	.accordion-content {
// 	}
// }







// Misc
html {
	width: 400px;
	margin: 2rem auto;
}
